In [2]:
import pandas as pd

### Loading data

In [84]:
df = pd.read_csv('data_files/pokemon_data.csv')
# print(df.head(3))
# print(df.tail(3))

In [32]:
df_xlsx = pd.read_excel('data_files/pokemon_data.xlsx')
# print(df_xlsx.head(3))

In [31]:
# Tab delimiter
df_tab = pd.read_csv('data_files/pokemon_data.txt', delimiter='\t')
# print(df_tab.head(3))

### Reading Data in Pandas

In [27]:
# Read headers
# print(df.columns)

# Read a single column
# print(df['Name'][2:4])

# Read a single row
# print(df.iloc[1])
# print(df.iloc[1:2])

# Read a specific location [c,r]
# print(df.iloc[1,2])

Grass

In [30]:
# Use loc
# df.loc[df['Type 1'] == 'Fire']

### Sorting/Describing Data

In [83]:
df.describe()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000
mean,439.531409,69.305603,80.478778,74.492360,74.426146,71.996604,68.831919,3.775891
std,118.467329,23.570526,31.934536,28.875207,33.075775,27.142168,28.479267,1.664157
min,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,330.000000,50.000000,55.000000,52.000000,50.000000,50.000000,46.000000,3.000000
50%,460.000000,67.000000,77.000000,70.000000,69.000000,70.000000,65.000000,4.000000
75%,518.000000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.000000
max,780.000000,170.000000,180.000000,184.000000,180.000000,200.000000,180.000000,6.000000

In [41]:
# df.sort_values(by='Type 2', ascending=False, na_position='first')

In [53]:
# df.sort_values(['Type 1', 'HP'], ascending=[1,0])
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [57]:
# df['Total'] = df['HP'] + df['Attack'] + df['Defense']

# df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,143
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,185
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,245

In [64]:
# df = df.drop(columns=['Total'])
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [87]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
# df.head(3)

In [71]:
cols = list(df.columns.values)
cols

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'Total']

In [89]:
## Change the Order of Columns
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
df.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False